h1,
h2,
.browse_content_name {
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  color: #1b203d;
}
h2 {
  color: #1b203d;
}
h1 span {
  display: block;
}

p {
  color: #1b203d;
}
.cta {
  font-family: "Source Sans Pro", "Segoe UI", Tahoma, Verdana, sans-serif;
  text-align: center;
  background-color: #f5700a;
  color: #1b203d;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 20px;
  border: solid 3px #1b203d;
  margin: auto;
}

.cta-white {
  background-color: white;
}
.active {
  text-decoration: underline;
}
a {
  text-decoration: none;
}

header {
  background-color: #bac5cf;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

header a {
  color: #1b203d;
  padding: 10px;
}
nav {
  display: none;
  position: fixed;
  top: 80px;
  background: #bac5cf;
  z-index: 1000;
  right: 0px;
}
nav ul {
  padding: 0px;
}
nav li {
  display: block;
  text-align: center;
  padding: 10px 20px;
}
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.system_image {
  border-radius: 30px;
  width: 100%;
}

.bottom_menu {
  padding: 10px;
}

.bottom_menu li {
  display: block;
}
footer {
  text-align: center;
  color: #1b203d;
}

.Footer_header {
  font-weight: bold;
}

.social-media i {
  color: #1b203d;
  padding: 0px 5px;
}

footer img {
  max-width: 200px;
  margin-top: 50px;
}
/* HOME PAGE */

body {
  font-family: "Source Sans Pro", "Segoe UI", Tahoma, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr;
}

.home {
  background-image: url(../images/man_driving.jpg);
  background-size: 100%;
  background-repeat: none;
  background-position-y: center;
  background-position-x: center;
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.home__content {
  position: relative;
  text-align: match-parent;
  display: grid;
  grid-template-columns: 1fr;
}

.home__content h1 {
  color: #f5700a;
}
.browse__content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
}
.browse_content_image {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 100%;
}
.browse_content_name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px black;
}
.browse__content h2 {
  grid-column: -1/1;
  text-align: center;
}
.top_sellers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1400px;
  margin: auto;
}
.top_sellers p {
  text-align: center;
  margin-top: 0px;
}

.top_sellers h2 {
  grid-column: -1/1;
  text-align: center;
}

.top_sellers img {
  width: 100%;
  border-radius: 20px;
}

/* Create an account */

.create_account {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

input {
  border: 2px solid #1b203d;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 50px 5px 2px;
}

.form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.form > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.create_account p {
  margin: 20px auto auto auto;
}

.account_created {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.account_created div {
  margin: 10px;
}
/* MEDIA QUERIES */

@media (min-width: 600px) {
  .browse__content {
    grid-template-columns: repeat(3, 1fr);
  }
  nav {
    display: block;
    position: static;
  }
  nav li {
    display: inline-block;
    padding: 0px;
  }

  header label {
    display: none;
  }
}

@media (min-width: 900px) {
  .browse__content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .browse_content_name {
    font-size: 1em;
  }
  .home {
    min-height: 70vh;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 2em;
  }
}
